

<div class="container text-center">
  <div class="row g-2">
    <div class="col-1">
      <div class="p-1">

<h1>Places</h1>

    <ul>
      <% for place in @places %>
        <li><a href="/places/<%= place["id"] %>"><%= place["name"] %></a></li>
      <% end %>
    </ul>


<p>
  <a href="/places/new">New place</a>
</p>

      </div>
    </div>
  </div>
</div>


